<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title> Меню </title>
</head>
<body>
    <h2 style="margin-top: 40px; margin-left: 20px"> Фреймворк Django </h2> <br>
    <a style="font-size: 16pt; margin-left: 50px" href="/testapp/aud1/"> <b> Аудиторная работа 1 - Вычисление площади поверхности куба </b> </a> <br>
    <a style="font-size: 16pt; margin-left: 50px" href="/testapp/calculate_parallelepiped/"> <b> Лабороторная работа 1 - Вычисления объема параллелепипеда </b> </a> <br>
</body>
</html>